convertvideo() {
    filename=$(basename -- $1)
    extension="${filename##*.}"
    filename="${filename%.*}"

    #mp4
    ffmpeg -i $1 -vcodec h264 -acodec aac -strict -2 $filename.mp4
    #webm
    ffmpeg -an -i $1 -c:v libvpx-vp9 -b:v 1M $filename.webm
    #ogv
    ffmpeg -an -i $1 -c:v libtheora -q:v 7 $filename.ogv
}
